/*
  Light pink = #FCE3E3
  Light yellow = #FDEFD4
  Dark Pink = #F07070
  Dark Yellow = #F8C25A
*/
.navbar-list a {
  text-decoration: none;
  color: #fd957d; 
}
.navbar-list a:hover {
  color: #f53558; 
}
.vanessa-text a{
  text-decoration: none;
  color: #fd957d;
}
.vanessa-text a:hover{
  color:#f53558;
}
.vanessa-text{
  font-family: "Tangerine", Arial, Serif;
  margin-left: 25px;
  color: #fd957d;
  margin-bottom: 0px;
}
.lpink{
  color: #fd957d;
}
.container-vanessa{
  border-bottom: 1px solid #eee;
}

.container-text p{
  margin-bottom: 5px;
}

@media (min-width:1px){
  .container-text{
    margin: 5px 2px 15px 2px;
    color: white;
  }
  .container-text ul{
    margin-left: 1px;
  }

  .container-pink{
    border: solid;
    border-radius: 20px;
    border-color: #F07070;
    padding: 5px;
    margin: 5px 0px;
    background-color: #F07070;
  }

  .container-yellow{
    border: solid;
    border-radius: 20px;
    border-color: #F8C25A;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F8C25A;
  }
}

@media (min-width: 400px){
  .container-text ul{
    margin-left: 55px;
  }
  .container-text{
    margin: 5px 2px 15px 2px;
    color: white;
  }
}


/* Larger than phone */
@media (min-width: 550px) {
  .container-text ul{
    margin-left: 55px;
  }
  .container-text{
    margin: 5px 55px 15px 55px;
    color: white;
  }

  .container-pink{
    border: solid;
    border-radius: 20px;
    border-color: #F07070;
    padding: 5px;
    margin: 20px 25px;
    background-color: #F07070;
  }

  .container-yellow{
    border: solid;
    border-radius: 20px;
    border-color: #F8C25A;
    padding: 5px;
    margin: 20px 25px;
    background-color: #F8C25A;
  }

  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #fff;
    z-index: 99;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
    .navbar{
      position: fixed;
    }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #fd957d; }
  .navbar-link.active {
    color: #f53558; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  