/* 
* 	Vanessa MacIsaac
*	stylesheet for index page
*/

.sideBar{
		float: left;
		width: 30%;
		}

.mainContent{
			float: right;
			width: 70%;
			}
.links{
		color: purple;
		font-family: georgia, serif;
	  }
.links:hover{
			color: red;
			}